*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;  /* es lo mismo */
    font-size: x-small;/* 10 pixeles */}
    
p{
    font-size: 1.6rem;}
main div{
    font-size: 1.6rem;}
/*REM:toma como referencia el font-size del elemento root de nuestro documento,
que es la etiqueta <html>(16px) o segun la modifiquemos */